* {
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
.header-nav {
    background-color: #4CCFC1;
    width: 100%;
    /* height: 43.75px; */
}
.header-nav>ul{
    float: right;
    display: inline-block;
    margin: 0;
}
.header-nav>ul>li{
    float: left;
    display: inline;
    position: relative;
}
.header-nav>ul>li>a {
    padding: 10px 40px;
    display: block;
    font-weight: bolder;
}

.header-nav>ul>li>ul{
    clear: both;
    position: absolute;
    top:41px;
    opacity:0;
    transition:all .5s linear;
}
.header-nav>ul>li:hover>ul{
    top:41px;
    opacity:1;
}
.header-nav>ul>li>ul>li{
    display:block;
    background:#4CCFC1;
    width:124px;
    color: white;
    text-align: center;
}
a{
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
}
ul>li>a{
    text-decoration: none;
    color: white;
}
.header-nav>ul>li>a:hover,
.header-navbar>ul>li>a:hover {
    background-color: pink;
}
.main{
    width: 100%;
    /* border: 1px solid red; */
    /* background: pink; */
}
.shoppingcar{
    width: 1280px;
    margin: 50px auto;
    position: relative;
}
.car{
    /* height: 900px; */
    text-align: center;
    /* background: #4CCFC1 */
    /* border: 2px solid #4CCFC1 */
}

.car-head{
    background: #4CCFC1;
}
.car-head>ul>li{
    float: left;
    line-height: 54px;
    height: 54px;
    font-weight: bolderl;
    font-size: 20px;
    color: white;
}
.car-head>ul>li:first-child{
    width: 52%;
}
.car-head>ul>li:not(first-child){
    width: 12%;
}

/* 商品 */
.car-body>ul>li.list-item>div:first-child{
    width: 52%
}
.car-body>ul>li.list-item>div:not(first-child){
    width: 12%
}
.car>.car-body{
    border: 1px solid #4CCFC1;
}
.car-body>ul>li.list-item{
    /* border: 1px solid pink; */
    display: block;
    position: relative;
}
.car-body>ul>li.list-item>div{
    float: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 190px;
    padding: 40px 0;
}
.car-body>ul>li.list-item>.num{
    display: flex;
    justify-content: space-around;
}
.car-body>ul>li.list-item>.num>div.add{
    
    position: relative;
    left: -20px;
}
.car-body>ul>li.list-item>.num>div.sub{
    
    position: relative;
    right: -20px;
}
.car-body>ul>li.list-item>.num>div>a{
    font-size: 28px;
    color: #4CCFC1;
}
.car-body>ul>li.list-item>.del>a{
    color: #4CCFC1;
}
.car-body>ul>li.list-item>.details>div{
    display: flex;
}
.car-body>ul>li.list-item>.details>div>input,
.car-body>ul>li.list-item>.num>input,
.car>.car-footer>.check>div>input{
    width: 30px;
    height: 30px;
}

/* 全选及其结账 */
.car>.car-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 20px;
    /* border: 1px solid #4CCFC1; */
}
.car>.car-footer>.total,
.car>.car-footer>.check{
    display: flex;
    justify-content: center;
    align-items: center;
}
.car>.car-footer>div{
    margin: 0 15px;
}
.car>.car-footer>.check>div{
    margin-right: 10px;
}
.car>.car-footer>.total>div{
    margin-right: 20px;
}
.car>.car-footer>.total>div>span{
    color: red;
    font-weight: bolder;
    font-size: 26px;
}
.car>.car-footer>.total>div>button{
    width: 150px;
    font-size: 26px;
}

