*{margin: 0;padding: 0}
#d1{
    background:#40C4B2;
}
.main{
    width: 1690px;
    margin: 0 auto;
}
#banner{
    width: 1690px;
    overflow: hidden;
    position:relative;
}
#ul-imgs{
    width: 8450px;
    list-style: none;
}
#ul-imgs.transition{
    transition: all .5s linear;
}
#ul-imgs>li{
    width: 1690px;
    float: left;
}
#ul-imgs>li img{
    width: 1690px;
}

#ul-idxs{
    width: 200px;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -50px;
}
#ul-idxs>li{
    float: left;
    width: 10px;
    height: 10px;
    background: pink;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}
#ul-idxs>li.active{
    background-color: blue;
}
#btn-left,#btn-right{
    width: 60px;height: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#btn-left{
    left:30px;
    background-image: url(../images/left_ar.png);
}
#btn-right{
    right:30px;
    background-image: url(../images/right_ar.png);
}
#btn-left:hover,#btn-right:hover{
  background-size:40px 70px
}



.shop{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.sp{
    float: left;
    /* margin-right: 5px;
    margin-top: 10px; */
}
.sp>div{
    text-align: center;
}
.sp>div>P{
    font-size: 20px;
    font-weight: bolder;
}
.btn{
    font-size: 18px;
    font-weight: bolder;
    color: white;
    margin-top: 15px;
}
.sp>div{
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.sp>img{
    /* margin-left: 5px; */
    margin: 5px 5px;
    border: 1px solid #e6e4e8;
}
.d-shop{
    margin: 20px 0;

}
.feat{
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    background: #32AC9D;
    color: white;
}
.shopping{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
}
.shopping>div{
    margin-top: 50px;
    border:1px solid rgb(223, 223, 223);
    border-bottom: 5px solid #40C4B2;
    padding: 15px 50px;
}
.price>p{
    font-size: 24px;
    text-align: center;
    color: #999999;
    font-weight: bolder;
    margin: 0;
}
.price{
    float: left;
}
.shopping>div>a{
    display: block;
    text-align: center;
}
.shopping>div>a>h3{
    margin-top: 15px;
    color: black;
}
.b1{
    display: inline-block;
    float: right;
    color: white;
    background: #40C4B2;
    margin: 0;
    border: 0;	
}